*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Plain Light';
    /* font-family: 'Gilroy'; */
    color: white;
}

html, body {
    width: 100%;    
    height: 100%;
    background-color: #151515;
}

#cursor{
    height: 2.7vw;
    width: 2.7vw;
    border-radius: 50%;
    border: 1px solid #e7deded7;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
}

#loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: #090909;
    padding: 25vh 10vw;
}

.line{
    height: fit-content;
    /* background-color: red; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.7vw;
}

.linePart{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.linePart h5, .linePart h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif';
}

.linePart h5{
    width: 5vw;
    text-align: right;
    ;
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 500;
}

.line h2{
    font-size: 5vw;
    text-transform: uppercase   ;
    /* font-family: 'silk serif'; */
    font-weight: 500;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear */
    ;
}

@keyframes anime{
    0%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        font-family: "Silk Serif";
        -webkit-text-stroke: #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "Silk Serif";
        -webkit-text-stroke: #fff;
        color: transparent;
        font-weight: 500;
        opacity: 0;
    }
    
}

#main{
    position: relative;
    background-color: #030303;
}

#page1{
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.5vw 6.5vw;
    /* background-color: #151515; */
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 0.9vw;
    font-weight: 500;
}

#page1-content{
    margin-top: 9vh;
    margin-left: 27%;
    position: relative;
}

#page1-content::before{
    position: absolute;
    content: "01";
    font-family: "Silk Serif";
    /* background-color: red; */
    font-size: 3.8vw;
    font-weight: 400;
    left: -13%;
    /* top: 39%; */
}

#hero{
    width: 75%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}

.hero3 h2, .hero3 h3{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 7.2vw;
}

.hero3 h2{
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.8vw;
    /* transition: all ease 0.3s; */
}

.hero3 h2:hover{
    -webkit-text-stroke: 3px #fff;
    color: transparent;
    font-weight: 500;
    border-bottom: 0.5vw solid #ffffff00;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
}

#video-container{
    width: 70vw;
    height: 70vh;
    position: relative;
    left: 15%;
    top: 10%;
    background-image: url(https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg);
}

#video-container img{
    width: 70vw;
    height: 70vh;
    position: absolute;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#video-cursor{
    background-color: #ffa63d;
    width: 8vw;
    height: 8vw;
    position: absolute;
    border-radius: 50%;
    top: 10%;
    left: 80%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(29, 27, 27);
    /* background-color: #151515; */
    position: relative;
}

#page4{
    /* height: 300vh; */
    width: 100%;
    background-color: #151515;
    position: relative;
}

#page4-content h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 27%;
    position: relative;
}

#page4-content h1::before{
    position: absolute;
    content: "03";
    font-family: "Silk Serif";
    /* background-color: red; */
    font-size: 3.8vw;
    font-weight: 400;
    left: -13%;
    top: 5%;
}

.underline{
    border-bottom: 2px solid rgba(255, 255, 255, 0.808);
    margin-top: 4vw;
    margin-bottom: 3vw;
    margin-left: 27%;
    margin-right: 6vw;
}

#page4-content .para1{
    font-size: 2.3vw;
    width: 50%;
    margin-left: 27%;
    padding-right: 1.8vw;
    font-weight: 500;
    /* background-color: red; */
}

.page4-flex{
    display: flex;
    margin-top: 4vw;
    margin-left: 27%;
    margin-right: 6vw;
    gap: 3.5vw;
    /* background-color: red; */
}

.page4-flex img{
    height:  42vw;
    width: 42vw;
}

.page4-flex p{
    font-size: 1.1vw;
    /* background-color: red; */
    margin-right: 9vw;
    line-height: 1.5vw;
}

/* #page4-content{
    position: relative
} */

.page4-blue-div{
    position: relative;
    width: 32vw;
    background-color: #3F7DF4;
    margin-left: 27%;
    padding: 3vw;
    padding-bottom: 4vw;
    margin-top: -30vh;
    margin-left: 51vw;
    margin-bottom: 10vw;
}

.blue-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid white;
    padding: 3vw 0;
}

.blue-elem h4{
    font-size: 1.5vw;
}


.blue-elem p{
    width: 40%;
    font-size: 1vw;
    text-align: start;
} 

#underline-page4{
    border-bottom: 2px solid rgba(230, 225, 225, 0.484);
    /* margin-top: 4vw; */
    margin-left: 27%;
    margin-right: 6vw;
}

.pagecontent-h5{
    font-size: 1vw;
    margin-top: 1.5vw;
    margin-left: 27%;
    padding-bottom: 6vw;
}

#page5{    
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    /* padding-top: 10vw; */
}

.elem1 {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    /* width: 100%; */
}

.elem1 h1{
    /* background-color: red; */
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: moveRight;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-transform: uppercase;
}

.elem2 {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: hidden;
    /* width: 100%; */
}

.elem2 h1{
    /* background-color: red; */
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: moveLeft;
    animation-duration: 17s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-transform: uppercase;
}

#page5 h1 span{
    font-family: "Silk Serif";
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    display: inline-block;
}

@keyframes moveRight{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(calc(-100% - 20px));
    }
}

@keyframes moveLeft{
    from{
        transform: translate(-100%);
    }
    to{
        transform: translate(calc(0 ));
    }
}

#page6{    
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    /* padding-top: 10vw; */
}

.page5-header{
    position: relative;
}

.page5-header svg{
    position: absolute;
    right: 15vw;
    top: 6vw;
    /* background-color: red; */
}

#page5-content h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 27%;
    padding-top: 5vw;
    position: relative;
}

#page5-content h1::before{
    position: absolute;
    content: "04";
    font-family: "Silk Serif";
    font-size: 3.8vw;
    font-weight: 400;
    left: -13%;
    top: 39%;
}

.underline-page5{
    border-bottom: 2px solid rgba(230, 225, 225, 0.484);
    /* margin-top: 4vw; */
    margin-left: 27%;
    margin-right: 6vw;
    margin-top: 4vw;
    margin-bottom: 3vw;
}

.page5-div{
    width: 67vw;
    /* background-color: red; */
    margin-left: 27%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 0;
}

#page5-box{
    width: 18vw;
    /* background-color: blue; */
}

#page5-box h6{
    font-size: 1vw;
    margin-bottom: 1.3vw;
}

#page5-box h5{
    font-size: 1.5vw;
}

#page5-content h3{
    margin-left: 27%;
    padding-bottom: 3vw;
    font-size: 1.1vw;
    font-weight: 400;
}

